:root {
  --gray-lighten4: #e4e4e4;
  --gray-lighten3: #dae1e7;
  --gray-lighten2: #9a9a9a;
  --gray-lighten1: #959595;
  --gray-default: #6e7278;
  --gray-darken1: #5f5f5f;
  --gray-darken2: #414141;
  --gray-darken3: #363636;
  --gray-darken4: #0f0f0f;
}
